html,
body {
    height: 100%;
}

.required label:after {
    content: ' *';
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.inset-label label.control-label {
    position: absolute;
    right: 25px;
    top: -10px;
    background-color: white;
    padding: 0 5px;
    z-index: 20;
}

div.logo img {
    width: 45%;
    margin-bottom: 50px;
}

#contact-form .form-control {
    border: 1px solid #000;
    border-radius: 0;
}

button.btn.btn-primary {
    background-color: #000;
    border-radius: 0;
    margin-top: 25px;
}

form {
    margin-bottom: 30px;
}

.field-contactform-jobtitle .m-multiselect-wrapper {
    margin-top: 0px;
    border: 1px solid;
}

.field-contactform-jobtitle p.m-multiselect-button {
    margin-bottom: 0px;
}

.field-contactform-jobtitle .m-multiselect-wrapper .floating {
    box-shadow: #c1c1c1 0px 0px 10px;
    border: 1px solid #000000;
    margin-right: -1px;
    margin-top: 4px;
    padding: 0.75rem;
}


.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.alert.alert-success.r2m-title {
    border: 2px solid #000;
    background-color: #fff;
    color: #000;
    margin-bottom: 50px;
}

h1.r2m-title.line {
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid #000;
    font-size: 26px;
}
@media (min-width: 768px) {
    #contact-form .inset-label .form-group {
        padding-top: 14px;
    }
    
    #contact-form .inset-label .form-group > label {
        top: 4px;
    }
}